Repository jakesock/ts-graphql-server-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --check, eslint --fix

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx,json,md,pug}": ["prettier --write", "prettier --check"],
  "apps/server/src/**/*.{ts,tsx,js,jsx,json}": ["eslint --fix"],
  "packages/errors/src/**/*.{ts,tsx,js,jsx,json}": ["eslint --fix"],
  "packages/yup-schemas/src/**/*.{ts,tsx,js,jsx,json}": ["eslint --fix"]
}

ci(husky): update pre-comit and pre-push hooks
  .husky/pre-commit
  .husky/pre-push
Due: none

ci(husky): update pre-commit and pre-push hooks
  .husky/pre-commit
  .husky/pre-push
Due: none

ci(husky): update pre-commit and pre-push hooks
  .husky/pre-push
Due: none

ci(husky): add commit-msg hook with commitlint
  .husky/commit-msg
  commitlint.config.js
  package.json
  yarn.lock
Due: prettier --write, prettier --check

ci(husky): update commit-msg hook
  .husky/commit-msg
Due: none

docs(root): update README.md
  README.md
Due: prettier --write, prettier --check

test(server): add send password reset email and send new confirmation email tests
  apps/server/README.md
  apps/server/src/modules/user/__tests__/send-new-confirmation-email.test.ts
  apps/server/src/modules/user/__tests__/send-password-reset-email.test.ts
Due: prettier --write, prettier --check, eslint --fix

feat(server): add winston (basic implementation, replace console logs with winston logger)
  README.md
  apps/server/README.md
  apps/server/package.json
  apps/server/src/bootstrap.ts
  apps/server/src/index.ts
  apps/server/src/lib/utils/index.ts
  apps/server/src/lib/utils/initialize-database.ts
  apps/server/src/lib/utils/logger.ts
  apps/server/src/lib/utils/send-email.ts
  apps/server/src/server.ts
  apps/server/src/test/setup.ts
  yarn.lock
Due: prettier --write, prettier --check, eslint --fix

test(server): add confirmUserEmail and resetUserPassword mutation tests
  README.md
  apps/server/README.md
  apps/server/src/modules/user/__tests__/confirm-user-email.test.ts
  apps/server/src/modules/user/__tests__/reset-user-password.test.ts
Due: prettier --write, prettier --check, eslint --fix

test(server): add password-manager tests
  apps/server/README.md
  apps/server/src/lib/utils/__tests__/password-manager.test.ts
Due: prettier --write, prettier --check, eslint --fix

docs(global): update README.md
  README.md
  apps/server/README.md
Due: prettier --write, prettier --check

docs(global): update all README.md files
  README.md
  apps/server/README.md
  packages/config/README.md
  packages/errors/README.md
  packages/tsconfig/README.md
  packages/yup-schemas/README.md
Due: prettier --write, prettier --check

docs(global): update README.md
  README.md
Due: prettier --write, prettier --check

chore(server): run gen-env to update .env.example and env.d.ts
  apps/server/.env.example
  apps/server/src/env.d.ts
Due: prettier --write, prettier --check, eslint --fix
