Repository jakesock/ts-graphql-server-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --check, eslint --fix

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx,json,md}": ["prettier --write", "prettier --check"],
  "apps/**/*.{js,ts,jsx,tsx}": ["eslint --fix"],
  "packages/**/*.{js,ts,jsx,tsx}": ["eslint --fix"]
}

test(server): add test setup file and graphql test utils
  apps/server/package.json
  apps/server/src/modules/hello/__tests__/hello.test.ts
  apps/server/src/test/setup.ts
  apps/server/src/test/utils/gql-call.ts
  apps/server/src/test/utils/index.ts
  apps/server/src/test/utils/test-connection.ts
Due: prettier --write, prettier --check, eslint --fix

ci(husky): add workspaces test script to pre-commit hook
  .husky/pre-commit
Due: none

feat(server): added typeorm configuration and datasource, initialize db in application bootstrap
  apps/server/src/bootstrap.ts
  apps/server/src/lib/config/index.ts
  apps/server/src/lib/config/orm.config.ts
  apps/server/src/lib/constants/server.ts
  apps/server/src/lib/utils/index.ts
  apps/server/src/lib/utils/initialize-database.ts
Due: prettier --write, prettier --check, eslint --fix

feat(server): add base-entity and create user entity
  apps/server/.env.example
  apps/server/package.json
  apps/server/src/entity/index.ts
  apps/server/src/entity/user.entity.ts
  apps/server/src/env.d.ts
  apps/server/src/lib/config/orm.config.ts
  apps/server/src/types/base-entity.ts
  apps/server/src/types/index.ts
  apps/server/src/types/table-name.ts
Due: prettier --write, prettier --check, eslint --fix

feat(yup-schemas): create yup-schemas package and make user login and register schemas
  apps/server/package.json
  packages/yup-schemas/.editorconfig
  packages/yup-schemas/.eslintignore
  packages/yup-schemas/.eslintrc.js
  packages/yup-schemas/.gitignore
  packages/yup-schemas/.prettierignore
  packages/yup-schemas/.prettierrc.json
  packages/yup-schemas/package.json
  packages/yup-schemas/src/index.ts
  packages/yup-schemas/src/lib/constants/index.ts
  packages/yup-schemas/src/lib/constants/user.ts
  packages/yup-schemas/src/lib/error-messages/common.ts
  packages/yup-schemas/src/lib/error-messages/index.ts
  packages/yup-schemas/src/lib/error-messages/user.ts
  packages/yup-schemas/src/lib/utils/__tests__/capitalize-first-letter.ts
  packages/yup-schemas/src/lib/utils/capitalize-first-letter.ts
  packages/yup-schemas/src/lib/utils/index.ts
  packages/yup-schemas/src/modules/user/index.ts
  packages/yup-schemas/src/modules/user/login-user.ts
  packages/yup-schemas/src/modules/user/register-user.ts
  packages/yup-schemas/src/modules/user/shared/index.ts
  packages/yup-schemas/src/modules/user/shared/password.ts
  packages/yup-schemas/tsconfig.json
  yarn.lock
Due: prettier --write, prettier --check, eslint --fix

feat(server): added user resolver, register mutation, sessions, email, and test database connection
  apps/server/package.json
  apps/server/schema.gql
  apps/server/src/lib/config/index.ts
  apps/server/src/lib/config/redis.config.ts
  apps/server/src/lib/config/session.config.ts
  apps/server/src/lib/constants/index.ts
  apps/server/src/lib/constants/middleware-config.ts
  apps/server/src/lib/constants/redis.ts
  apps/server/src/lib/utils/build-schema.ts
  apps/server/src/lib/utils/create-confirmation-code.ts
  apps/server/src/lib/utils/index.ts
  apps/server/src/lib/utils/password-manager.ts
  apps/server/src/lib/utils/send-email.ts
  apps/server/src/lib/utils/validate-form-input.ts
  apps/server/src/modules/hello/__tests__/hello.test.ts
  apps/server/src/modules/hello/hello.resolver.ts
  apps/server/src/modules/user/__tests__/register.test.ts
  apps/server/src/modules/user/inputs/index.ts
  apps/server/src/modules/user/inputs/register-user.input.ts
  apps/server/src/modules/user/inputs/shared/index.ts
  apps/server/src/modules/user/inputs/shared/password.input.ts
  apps/server/src/modules/user/user.resolver.ts
  apps/server/src/modules/user/user.service.ts
  apps/server/src/modules/user/utils/validate-register.ts
  apps/server/src/server.ts
  apps/server/src/test/setup.ts
  apps/server/src/test/utils/gql-call.ts
  apps/server/src/test/utils/index.ts
  apps/server/src/test/utils/test-connection.ts
  apps/server/src/types/graphql/auth-form-response.ts
  apps/server/src/types/graphql/field-error.ts
  apps/server/src/types/graphql/index.ts
  apps/server/src/types/index.ts
  apps/server/src/types/my-context.ts
  yarn.lock
Due: prettier --write, prettier --check, eslint --fix

feat(server): added login mutation, added tests for loginUser and getCurrentUser
  apps/server/package.json
  apps/server/schema.gql
  apps/server/src/modules/user/__tests__/get-current-user.test.ts
  apps/server/src/modules/user/__tests__/login.test.ts
  apps/server/src/modules/user/__tests__/register.test.ts
  apps/server/src/modules/user/error-messages/index.ts
  apps/server/src/modules/user/error-messages/invalid-login.ts
  apps/server/src/modules/user/inputs/index.ts
  apps/server/src/modules/user/inputs/login-user.input.ts
  apps/server/src/modules/user/user.resolver.ts
  apps/server/src/modules/user/user.service.ts
  packages/yup-schemas/src/index.ts
Due: prettier --write, prettier --check, eslint --fix

feat(server): added logout mutation and test
  apps/server/schema.gql
  apps/server/src/modules/user/__tests__/logout.test.ts
  apps/server/src/modules/user/user.resolver.ts
  apps/server/src/modules/user/user.service.ts
  apps/server/src/test/utils/gql-call.ts
Due: prettier --write, prettier --check, eslint --fix

feat(server): add confirmUserEmail mutation
  apps/server/schema.gql
  apps/server/src/modules/user/error-messages/confirm-user-email.ts
  apps/server/src/modules/user/error-messages/index.ts
  apps/server/src/modules/user/user.resolver.ts
  apps/server/src/modules/user/user.service.ts
Due: prettier --write, prettier --check, eslint --fix

docs(server): added README.md and a todo list
  apps/server/README.md
Due: prettier --write, prettier --check

feat(server): isAuthenticated middleware function
  apps/server/README.md
  apps/server/src/lib/middleware/index.ts
  apps/server/src/lib/middleware/is-authenticated.ts
Due: prettier --write, prettier --check, eslint --fix

feat(server): add sendNewConfirmationCode mutation
  apps/server/README.md
  apps/server/schema.gql
  apps/server/src/modules/user/inputs/index.ts
  apps/server/src/modules/user/inputs/send-confirmation-code.input.ts
  apps/server/src/modules/user/user.resolver.ts
  apps/server/src/modules/user/user.service.ts
Due: prettier --write, prettier --check, eslint --fix

feat(server): added sendPasswordResetEmail mutation
  apps/server/README.md
  apps/server/schema.gql
  apps/server/src/modules/user/user.resolver.ts
  apps/server/src/modules/user/user.service.ts
Due: prettier --write, prettier --check, eslint --fix

feat(global): added reset user password schema to yup-schemas, added resetPassword mutation
  apps/server/README.md
  apps/server/src/modules/user/inputs/index.ts
  apps/server/src/modules/user/inputs/reset-password.input.ts
  apps/server/src/modules/user/user.resolver.ts
  apps/server/src/modules/user/user.service.ts
  packages/yup-schemas/src/modules/user/index.ts
  packages/yup-schemas/src/modules/user/reset-user-password.ts
Due: prettier --write, prettier --check, eslint --fix

refactor(server): rename resetPassword to resetUserPassword for enhanced specificity
  apps/server/schema.gql
  apps/server/src/modules/user/inputs/index.ts
  apps/server/src/modules/user/inputs/reset-user-password.input.ts
  apps/server/src/modules/user/user.resolver.ts
  apps/server/src/modules/user/user.service.ts
Due: prettier --write, prettier --check, eslint --fix

feat(global): add change user password schema to yup-schemas, add changeUserPassword mutation
  apps/server/README.md
  apps/server/schema.gql
  apps/server/src/modules/user/inputs/change-user-password.input.ts
  apps/server/src/modules/user/inputs/index.ts
  apps/server/src/modules/user/user.resolver.ts
  apps/server/src/modules/user/user.service.ts
  packages/yup-schemas/src/modules/user/change-user-password.ts
  packages/yup-schemas/src/modules/user/index.ts
Due: prettier --write, prettier --check, eslint --fix

feat(server): add email field resolver to user resolver
  apps/server/README.md
  apps/server/src/modules/user/user.resolver.ts
Due: prettier --write, prettier --check, eslint --fix

feat(server): add createUserLoader function and add userLoader to GraphQL context
  apps/server/README.md
  apps/server/src/lib/loaders/index.ts
  apps/server/src/lib/loaders/user.loader.ts
  apps/server/src/server.ts
Due: prettier --write, prettier --check, eslint --fix

refactor(server): add email utils to user module to keep things DRY
  apps/server/README.md
  apps/server/src/modules/user/user.service.ts
  apps/server/src/modules/user/utils/email.ts
  apps/server/src/modules/user/utils/index.ts
Due: prettier --write, prettier --check, eslint --fix

fix(yup-schemas): fixed resetPassword schema token check. moved from uuid match to regex match
  packages/yup-schemas/src/lib/error-messages/common.ts
  packages/yup-schemas/src/modules/user/reset-user-password.ts
Due: prettier --write, prettier --check, eslint --fix

test(server): add error testing for registerUser mutation
  apps/server/README.md
  apps/server/src/modules/user/__tests__/register.test.ts
  apps/server/src/modules/user/error-messages/index.ts
  apps/server/src/modules/user/error-messages/register.ts
  apps/server/src/modules/user/utils/validate-register.ts
  apps/server/src/test/utils/gql-call.ts
Due: prettier --write, prettier --check, eslint --fix

refactor(server): add types to gqlCall function in login and logout test files
  apps/server/src/modules/user/__tests__/login.test.ts
  apps/server/src/modules/user/__tests__/logout.test.ts
Due: prettier --write, prettier --check, eslint --fix

test(server): begin writing tests for change password
  apps/server/README.md
  apps/server/src/modules/user/__tests__/change-password.test.ts
Due: prettier --write, prettier --check, eslint --fix

chore(global): initialize @monorepo/errors
  packages/errors/.editorconfig
  packages/errors/.eslintignore
  packages/errors/.eslintrc.js
  packages/errors/.gitignore
  packages/errors/.prettierignore
  packages/errors/.prettierrc.json
  packages/errors/package.json
  packages/errors/src/index.ts
  packages/errors/tsconfig.json
  yarn.lock
Due: prettier --write, prettier --check, eslint --fix

feat(global): add custom errors to errors package and format graphql errors on server
  apps/server/README.md
  apps/server/package.json
  apps/server/src/lib/middleware/is-authenticated.ts
  apps/server/src/modules/user/__tests__/change-password.test.ts
  apps/server/src/server.ts
  packages/errors/package.json
  packages/errors/src/errors/bad-request-error.ts
  packages/errors/src/errors/custom-error.ts
  packages/errors/src/errors/database-connection-error.ts
  packages/errors/src/errors/index.ts
  packages/errors/src/errors/internal-server-error.ts
  packages/errors/src/errors/not-authenticated-error.ts
  packages/errors/src/errors/not-authorized-error.ts
  packages/errors/src/errors/not-found-error.ts
  packages/errors/src/index.ts
  packages/errors/src/types/index.ts
  packages/errors/src/types/serialized-errors.ts
  packages/errors/src/types/server-error-message.ts
  packages/errors/src/types/status-codes.ts
  packages/yup-schemas/package.json
  yarn.lock
Due: prettier --write, prettier --check, eslint --fix

test(server): finish changeUserPassword mutation tests
  apps/server/src/modules/user/__tests__/change-password.test.ts
  apps/server/src/modules/user/error-messages/change-password.ts
  apps/server/src/modules/user/error-messages/index.ts
  apps/server/src/modules/user/user.service.ts
Due: prettier --write, prettier --check, eslint --fix

refactor(server): add custom error handling to async functions
  apps/server/README.md
  apps/server/src/bootstrap.ts
  apps/server/src/lib/utils/create-confirmation-code.ts
  apps/server/src/lib/utils/initialize-database.ts
  apps/server/src/lib/utils/send-email.ts
  apps/server/src/modules/user/user.service.ts
  apps/server/src/server.ts
Due: prettier --write, prettier --check, eslint --fix

feat(server): add email templating and basic email templates for confirm email and reset password
  apps/server/README.md
  apps/server/package.json
  apps/server/src/emails/confirmation-code/html.pug
  apps/server/src/emails/confirmation-code/subject.pug
  apps/server/src/emails/reset-password/html.pug
  apps/server/src/emails/reset-password/subject.pug
  apps/server/src/lib/utils/send-email.ts
  apps/server/src/modules/user/user.service.ts
  apps/server/src/modules/user/utils/email.ts
  apps/server/src/modules/user/utils/index.ts
  yarn.lock
Due: prettier --write, prettier --check, eslint --fix

docs(global): update docs (todos) and remove a couple of unnecessary console logs
  README.md
  apps/server/README.md
  apps/server/src/lib/utils/send-email.ts
  apps/server/src/modules/user/utils/email.ts
Due: prettier --write, prettier --check, eslint --fix

ci(lint-staged/husky): add scripts to run tests/checks/etc. for workspaces, update lint-staged
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  package.json
  packages/errors/package.json
  packages/yup-schemas/package.json
Due: prettier --write, prettier --check

fix(server): add @types/email-templates package to fix 'any' type error on build and type-check
  apps/server/package.json
Due: prettier --write, prettier --check

chore(global): add build script to build the server and its dependencies topologically
  README.md
  package.json
Due: prettier --write, prettier --check

docs(root): update README.md (todos)
  README.md
Due: prettier --write, prettier --check

build(server): add copyfiles and concurrently as dev deps, copy email templates to dist on build
  apps/server/README.md
  apps/server/package.json
  apps/server/tsconfig.json
  yarn.lock
Due: prettier --write, prettier --check

chore(global): remove build from check:all scripts
  .lintstagedrc.json
  apps/server/package.json
  packages/errors/package.json
  packages/errors/tsconfig.json
  packages/yup-schemas/package.json
  packages/yup-schemas/tsconfig.json
Due: prettier --write, prettier --check

feat(errors): add rate limit exceeded error
  packages/errors/src/errors/index.ts
  packages/errors/src/errors/rate-limit-exceeded-error.ts
  packages/errors/src/types/server-error-message.ts
  packages/errors/src/types/status-codes.ts
Due: prettier --write, prettier --check, eslint --fix

feat(server): add per query/mutation rate limit middleware and server wide rate limit middleware
  .lintstagedrc.json
  apps/server/README.md
  apps/server/package.json
  apps/server/src/lib/config/index.ts
  apps/server/src/lib/config/rate-limit.config.ts
  apps/server/src/lib/constants/index.ts
  apps/server/src/lib/constants/rate-limit.ts
  apps/server/src/lib/middleware/index.ts
  apps/server/src/lib/middleware/is-authenticated.ts
  apps/server/src/lib/middleware/rate-limit.ts
  apps/server/src/modules/user/user.resolver.ts
  apps/server/src/server.ts
  packages/errors/package.json
  packages/errors/src/errors/rate-limit-exceeded-error.ts
  packages/errors/src/types/status-codes.ts
  packages/yup-schemas/package.json
  yarn.lock
Due: prettier --write, prettier --check, eslint --fix

ci(husky): add pre-push hook
  .husky/pre-push
Due: none

ci(husky): update pre-commit and pre-push hooks
  .husky/pre-commit
  .husky/pre-push
  README.md
  apps/server/package.json
  package.json
  packages/errors/package.json
  packages/yup-schemas/package.json
Due: prettier --write, prettier --check
